src/main/mule/grunstromindex-homeconnect-integration-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="grunstromindex-homeconnect-integration-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="grunstromindex-homeconnect-integration-api-config" api="grunstromindex-homeconnect-integration-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <!--  <configuration-properties doc:name="Configuration properties" doc:id="5b74cd21-8d4b-4382-8323-73611186e86a" file="config/configuration.yaml" /> -->
    <!--  <configuration-properties doc:name="Configuration properties" doc:id="e088c908-5674-4aa6-97dc-e0647f928b21" file="config/configuration.properties" />  -->
    <http:request-config name="Homeconnect_Request_configuration" doc:name="HTTP Request configuration" doc:id="cc59e445-2071-4b99-a0e2-ba37048caef3">
        <http:request-connection protocol="HTTPS" host="${secure::homeconnect.uri}" />
    </http:request-config>
    <os:object-store name="Object_store" doc:name="Object store" doc:id="03b68610-6908-4a3b-933e-d60768608220" entryTtl="86400" expirationInterval="3600" />
    <http:request-config name="FlowXO_Request_Configuration" doc:name="HTTP Request configuration" doc:id="47b399f2-5f74-4cff-8b70-ead2332fea4d">
        <http:request-connection protocol="HTTPS" host="${secure::flowxo.uri}" />
    </http:request-config>
    <secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="053380e8-83a5-4129-8c9a-2ac2f1f6f1cc" file="config/configuration.properties" key="${secure.key}">
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<global-property doc:name="Global Property" doc:id="f6191492-7e30-4b06-9a8e-f3aea7bf9b87" name="secure.key" value="replaceMe" />
	<flow name="grunstromindex-homeconnect-integration-api-main">
        <http:listener config-ref="grunstromindex-homeconnect-integration-api-httpListenerConfig" path="/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="grunstromindex-homeconnect-integration-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="grunstromindex-homeconnect-integration-api-console">
        <http:listener config-ref="grunstromindex-homeconnect-integration-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="grunstromindex-homeconnect-integration-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\setGrunStromEnergyForDevice:application\json:grunstromindex-homeconnect-integration-api-config">
        <set-variable value="#[payload.state]" doc:name="Set Variable" doc:id="ae930f84-f6b1-45c7-87e5-8b19586f5983" variableName="state" />
		<set-variable value="#[payload.answer]" doc:name="Set Variable" doc:id="8e3c7b11-daeb-49c1-8375-15129a79210a" variableName="greenTimestamp" />
		<os:retrieve doc:name="Retrieve" doc:id="ac89f8f0-b740-4fbe-97f6-278e3696cfef" key="#[vars.state]" objectStore="Object_store">
			<os:default-value><![CDATA[defaultvalue]]></os:default-value>
		</os:retrieve>
		<os:store doc:name="Store" doc:id="e0fc5973-3529-4b3a-929e-bc9421848b30" key="#[vars.state]" objectStore="Object_store">
			<os:value><![CDATA[#[%dw 2.0
output application/json
---
{
	key: payload.key,
	deviceId : payload.deviceId,
	programId : payload.programId,
	zipCode: payload.zipCode,
	selectedPeriod: vars.greenTimestamp
}]]]></os:value>
		</os:store>
		<os:retrieve doc:name="Retrieve" doc:id="48be2ea5-18f2-411b-9915-3353012a2d56" key="#[vars.state]" objectStore="Object_store">
			<os:default-value><![CDATA[defaultvalue]]></os:default-value>
		</os:retrieve>
		<logger level="INFO" doc:name="Logger" doc:id="49abdf2b-d8c2-444d-886a-a7f26977dbb5" message="Object is stored : #[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="4d75deed-d403-462e-8674-ca91a8622961" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json 
--- 
{ 
 "questionId" : 5, 
 "question" : "You have finally setup your device for green electricity, thank you so much for supporting green world and environment!",
 "answerOptions" : [],
 "state":vars.state 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="3fb98946-a6a8-4aed-9bf9-07178a2e3f08" config-ref="FlowXO_Request_Configuration" path="${secure::flowxo.webhookpath}" />
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200",
  message: "success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <sub-flow name="retrieveDeviceAndProgramInfo" doc:id="c4025962-f89d-4653-bb04-211a60988a4a">
        <os:retrieve doc:name="Retrieve" doc:id="b89db9bf-7bc3-4ac2-a41e-386d77d209c4" key="#[vars.state]" objectStore="Object_store">
            <os:default-value><![CDATA[defaultvalue]]></os:default-value>
        </os:retrieve>
        <os:store doc:name="Store" doc:id="e7bce60b-fced-423d-86da-10fac1c41347" key='#[vars.state]' objectStore="Object_store">
			<os:value ><![CDATA[#[%dw 2.0
output application/json
---
{
	key: payload.key,
	deviceId : vars.deviceId,
	programId : "",
	zipCode: "",
	selectedPeriod: ""
}]]]></os:value>
		</os:store>
		<os:retrieve doc:name="Retrieve" doc:id="455bfa83-653a-4497-8d01-ea8d950247b1" key="#[vars.state]" objectStore="Object_store">
			<os:default-value><![CDATA[defaultvalue]]></os:default-value>
		</os:retrieve>
		<set-variable value="#['Bearer ' ++ (payload.key.access_token)]" doc:name="Set Variable" doc:id="703a3f97-61a6-4fcc-bb29-1001fc3ed250" variableName="accessToken" />
		<http:request method="GET" doc:name="Request" doc:id="3645656e-3370-49de-ad38-fc8888044fee" config-ref="Homeconnect_Request_configuration" path="#[p('secure::homeconnect.homeappliancespath') ++&quot;/&quot;++ vars.deviceId]">
            <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : vars.accessToken
}]]]></http:headers>
        </http:request>
        <set-variable value="#[payload.data['type']]" doc:name="Set Variable" doc:id="e2231ab9-965d-4e3e-b1ae-a8f95706686a" variableName="deviceType" />
        <http:request method="GET" doc:name="Request" doc:id="69519fde-3f53-43a0-93b5-0d37a3f2c752" config-ref="Homeconnect_Request_configuration" path="#[vars.pathHomeConnectDeviceForPrograms]">
            <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : vars.accessToken
}]]]></http:headers>
        </http:request>
        <ee:transform doc:name="Transform Message" doc:id="6ff12479-5b79-436b-afac-d50bcde6123f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json 
--- 
{ 
 "questionId" : 2, 
 "question" : "Device is successfully selected, which program do you want to use for your " ++ vars.deviceType ++ "?",
 "answerOptions" : payload.data.programs map((item,index) -> { 
  key: item.key, 
  value: substringAfter(item.key,"Program.")
 }),
 "state":vars.state 
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request method="POST" doc:name="Request" doc:id="940d7a3e-af64-4a17-9ac2-4c6fbf4c5a90" config-ref="FlowXO_Request_Configuration" path="${secure::flowxo.webhookpath}" />
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200",
  message: "success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </sub-flow>
    <sub-flow name="retrieveHomeAppliances" doc:id="b658c783-9df8-47b6-8c06-e0aa52da041a">
        <os:retrieve doc:name="Retrieve" doc:id="219c42b4-a86d-42f2-a112-31ac843b98af" key="#[vars.state]" objectStore="Object_store">
            <os:default-value><![CDATA[defaultvalue]]></os:default-value>
        </os:retrieve>
        <set-variable value="#['Bearer ' ++ (payload.key.access_token)]" doc:name="Set Variable" doc:id="e5084872-1595-4160-acba-ecd682e6baf5" variableName="accessToken" />
        <http:request method="GET" doc:name="Request" doc:id="58b394de-6fa2-456b-934b-eda279ff7b66" config-ref="Homeconnect_Request_configuration" path="${secure::homeconnect.homeappliancespath}">
            <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : vars.accessToken
}]]]></http:headers>
        </http:request>
        <set-payload value="#[%dw 2.0 &#xA;output application/json &#xA;--- &#xA;{ &#xA; &quot;questionId&quot; : 1, &#xA; &quot;question&quot; : &quot;I have found these devices, please choose the one that you like to use.&quot;, &#xA; &quot;answerOptions&quot; : payload.data.homeappliances map((item,index) -&gt; { &#xA;  key: item.haId, &#xA;  value: item['type'] ++ &quot; (&quot; ++ item.vib ++ &quot; - &quot; ++ item.brand ++ &quot;)&quot; &#xA; }), &#xA; &quot;state&quot;:vars.state &#xA;}]" doc:name="Set Payload" doc:id="f9be07ca-8f04-4006-9f4a-776eb19edd6b" />
        <http:request method="POST" doc:name="Request" doc:id="2d6ecaca-5ed2-4fb6-a855-468bbc2ab2ed" config-ref="FlowXO_Request_Configuration" path="${secure::flowxo.webhookpath}" />
        <!--   <logger level="INFO" doc:name="Logger" doc:id="202469aa-30da-4057-98ad-1a3d4a89cb65" message="#[(payload.data.homeappliances filter $[&quot;type&quot;] == &quot;Dishwasher&quot;)[0]]" />  -->
        <ee:transform doc:name="Transform Message" doc:id="d1ad723c-915b-4d11-8350-46ae41b71f8a" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200",
  message: "success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </sub-flow>
    <flow name="post:\findAvailablePrograms:application\json:grunstromindex-homeconnect-integration-api-config">
        <set-variable value="#[output application/json &#xA;--- &#xA;p('secure::homeconnect.programspath') replace '&lt;haid&gt;' with payload.answer]" doc:name="Set Variable" doc:id="65c07c2b-b1ff-47ce-a8c7-8307b1080324" variableName="pathHomeConnectDeviceForPrograms" />
        <set-variable value="#[payload.state]" doc:name="Set Variable" doc:id="fc1a6345-2621-4098-81b8-973f04acbebd" variableName="state" />
        <set-variable value="#[payload.answer]" doc:name="Set Variable" doc:id="9fdb8ce9-92db-42ca-bf1f-f62f2f23faf0" variableName="deviceId" />
        <flow-ref doc:name="Flow Reference" doc:id="f35969b8-0a7e-4aab-8bfa-6ad31833d469" name="retrieveDeviceAndProgramInfo" />
    </flow>
    <flow name="get:\authenticateHomeConnect:grunstromindex-homeconnect-integration-api-config">
        <set-variable doc:name="Set Variable" doc:id="770294b9-d567-442f-82df-9f0032a112cb" variableName="state" value="#[attributes.queryParams.state]" />
        <set-variable value="authorization_code" doc:name="Set Variable" doc:id="40f20bca-8229-4d32-8603-bf6311d85f21" variableName="grantType" />
        <set-variable value="#[attributes.queryParams.code]" doc:name="Set Variable" doc:id="d6c6c51a-3868-4436-a73f-0085b7e721fb" variableName="authCode" />
        <set-variable value="${secure::homeconnect.clientid}" doc:name="Set Variable" doc:id="4e7c3208-77c9-4e04-9c56-2e0c26de89e2" variableName="clientId" />
        <set-variable value="${secure::homeconnect.clientsecret}" doc:name="Set Variable" doc:id="1d3a3db1-067a-47dd-9355-300def91be70" variableName="clientSecret" />
        <set-variable value="${secure::homeconnect.redirectUri}" doc:name="Set Variable" doc:id="321ef77b-2584-4650-8c92-b9ae41b195c9" variableName="redirectUri" />
        <logger level="INFO" message="#[output application/json&#10;---&#10;{&#10;	state : vars.state,&#10;	authorization_code: vars.grantType,&#10;	authCode: vars.authCode,&#10;	clientId: vars.clientId,&#10;	clientSecret: vars.clientSecret,&#10;	redirectUri: vars.redirectUri&#10;}]" />
		<http:request method="POST" doc:name="TokenRequest" doc:id="98276431-463c-4b3c-84f5-f09fa5f93721" config-ref="Homeconnect_Request_configuration" path="${secure::homeconnect.tokenpath}" sendCorrelationId="AUTO">
            <http:body><![CDATA[#[%dw 2.0

output application/x-www-form-urlencoded
---

{
redirect_uri:vars.redirectUri,
code:vars.authCode,
client_id:vars.clientId,
client_secret:vars.clientSecret,
grant_type:vars.grantType
}]]]></http:body>
            <http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/x-www-form-urlencoded"
}]]]></http:headers>
        </http:request>
        <logger level="INFO" doc:name="Logger" doc:id="1bf18c08-67e4-4bc8-a8b0-0fdfb8c73190" message="payload" />
        <os:store doc:name="Store" doc:id="3db5d73a-2ed7-4f32-b16d-5f8a47157eac" key="#[vars.state]" objectStore="Object_store" >
			<os:value ><![CDATA[#[%dw 2.0
output application/json
---
{
	key: payload,
	deviceId : "",
	programId : "",
	zipCode: "",
	selectedPeriod: ""
}]]]></os:value>
		</os:store>
        <flow-ref doc:name="Flow Reference" doc:id="bea9d0bc-baaf-4f27-9207-33a1bbc62f70" name="retrieveHomeAppliances" />
    </flow>
    <flow name="post:\saveProgramRequestZipCode:application\json:grunstromindex-homeconnect-integration-api-config">
        <set-variable value="#[payload.state]" doc:name="Set Variable" doc:id="fd405e1d-b077-4033-9a02-89b0dca93440" variableName="state" />
		<set-variable value="#[payload.answer]" doc:name="Set Variable" doc:id="b4cab544-743b-427f-b5a2-3cac774d58c3" variableName="programId" />
		<os:retrieve doc:name="Retrieve" doc:id="aa5ef805-6756-4d6c-92e2-ecbe8397fd87" key="#[vars.state]" objectStore="Object_store">
			<os:default-value><![CDATA[defaultvalue]]></os:default-value>
		</os:retrieve>
		<os:store doc:name="Store" doc:id="0fcd23de-c42e-483f-8838-7a00953ec975" key="#[vars.state]" objectStore="Object_store">
			<os:value><![CDATA[#[%dw 2.0
output application/json
---
{
	key: payload.key,
	deviceId : payload.deviceId,
	programId : vars.programId,
	zipCode: "",
	selectedPeriod: ""
}]]]></os:value>
		</os:store>
		<os:retrieve doc:name="Retrieve" doc:id="bf594d9d-028f-4e5a-9783-16e9a8bd0b2f" key="#[vars.state]" objectStore="Object_store">
			<os:default-value><![CDATA[defaultvalue]]></os:default-value>
		</os:retrieve>
		<logger level="INFO" doc:name="Logger" doc:id="f80ab5d7-0249-4d83-8dd5-4fbb4ee74efd" message="Object is stored : #[payload]" />
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json 
--- 
{ 
 "questionId" : 3, 
 "question" : "Program is setup, would you please share your zipcode for your address to find out available hours for green electric in your city ?",
 "answerOptions" : [],
 "state":vars.state 
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="9e04a74d-2e5b-4d95-a456-e4c018bebe0e" config-ref="FlowXO_Request_Configuration" path="${secure::flowxo.webhookpath}" />
		<ee:transform doc:name="Transform Message" doc:id="cce3a5c3-d3a2-4975-b980-4b2aa49a0be6" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200",
  message: "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="post:\checkGrunStromIndexForZipCode:application\json:grunstromindex-homeconnect-integration-api-config">
        <set-variable value="#[payload.state]" doc:name="Set Variable" doc:id="79255bb9-2fa7-4cb3-930d-547458e9a547" variableName="state" />
		<set-variable value="#[payload.answer]" doc:name="Set Variable" doc:id="706b8b43-3f40-493a-8ea0-ff6426fbd7ea" variableName="zipCode" />
		<os:retrieve doc:name="Retrieve" doc:id="5f3f8b11-b5a5-4a38-a234-2f93621d586b" key="#[vars.state]" objectStore="Object_store">
			<os:default-value><![CDATA[defaultvalue]]></os:default-value>
		</os:retrieve>
		<os:store doc:name="Store" doc:id="94b43210-844d-46e5-9198-503a573777c2" key="#[vars.state]" objectStore="Object_store">
			<os:value><![CDATA[#[%dw 2.0
output application/json
---
{
	key: payload.key,
	deviceId : payload.deviceId,
	programId : payload.programId,
	zipCode: vars.zipCode,
	selectedPeriod: ""
}]]]></os:value>
		</os:store>
		<os:retrieve doc:name="Retrieve" doc:id="e2fb2539-a963-4b1c-894d-0de7f7184953" key="#[vars.state]" objectStore="Object_store">
			<os:default-value><![CDATA[defaultvalue]]></os:default-value>
		</os:retrieve>
		<logger level="INFO" doc:name="Logger" doc:id="999101dc-0f9e-4cbd-998b-7bc17c0d05a0" message="Object is stored : #[payload]" />
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json 
--- 
{ 
 "questionId" : 4, 
 "question" : "Please select one of the available hours that green electric is available on your area : ",
 "answerOptions" : [
 	{
 		key : "1635494400",
 		value : "10:00"
 	},
 	{
 		key : "1635498000",
 		value : "11:00"
 	}
 ],
 "state":vars.state 
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="7c3cb3a0-74c1-45c4-b84a-9b3794c6e7d0" config-ref="FlowXO_Request_Configuration" path="${secure::flowxo.webhookpath}" />
		<ee:transform doc:name="Transform Message" doc:id="9d318ee4-9a3e-4673-bf70-eb2f3750ff7e" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  status: "200",
  message: "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
